In [2]:
import numpy as np

my_numpy_array = np.random.rand(3)
my_numpy_array

array([ 0.20519163,  0.46810494,  0.2898865 ])

In [3]:
type(my_numpy_array)

numpy.ndarray

In [4]:
my_numpy_array[0]

0.20519162799598312

In [7]:
import pandas as pd

my_series = pd.Series(my_numpy_array, index=["First", "Second", "Third"])
my_series

First     0.205192
Second    0.468105
Third     0.289887
dtype: float64

In [8]:
my_series[0]

0.20519162799598312

In [9]:
my_series["First"]

0.20519162799598312

In [10]:
my_series.index

Index(['First', 'Second', 'Third'], dtype='object')

In [11]:
array_2d = np.random.rand(3, 2)
array_2d

array([[ 0.92863622,  0.77328628],
       [ 0.34203651,  0.17679859],
       [ 0.18064071,  0.6901817 ]])

In [12]:
array_2d[0, 1]

0.77328627897692781

In [14]:
df = pd.DataFrame(array_2d)
df

          0         1
0  0.928636  0.773286
1  0.342037  0.176799
2  0.180641  0.690182

In [16]:
df.columns

RangeIndex(start=0, stop=2, step=1)

In [17]:
df.columns = ["First", "Second"]

In [18]:
df

      First    Second
0  0.928636  0.773286
1  0.342037  0.176799
2  0.180641  0.690182

In [19]:
df["Second"]

0    0.773286
1    0.176799
2    0.690182
Name: Second, dtype: float64